<div class="flex min-h-screen items-center justify-center">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <div class="mx-auto mb-4">
      <img class="mx-auto h-10 w-auto mb-4" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company">
      <h2 class="text-center text-3xl font-bold text-green">Resend confirmation instructions</h2>
    </div>

    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="mt-4 sm:w-full sm:max-w-sm">
        <%= f.label :email, class: "block text-sm font-medium leading-6 text-gray-900" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full py-2 px-3 border rounded-md focus:ring focus:ring-green-300" %>
      </div>

      <div class="mt-6 sm:w-full sm:max-w-sm">
        <%= f.submit "Resend confirmation instructions", class: "flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm leading-6 text-white shadow-sm hover:bg-indigo-500" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
