<div class="flex items-center justify-center mt-20">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <div class="mx-auto mb-4">
      <img class="mx-auto h-10 w-auto mb-4" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company">
      <h2 class="text-center text-3xl font-bold text-green">Welcome</h2>
    </div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="mt-2 sm:w-full sm:max-w-sm">
        <%= f.label :username, class: "block text-sm font-medium leading-6 text-gray-900" %>
        <%= f.text_field :username, autofocus: true, autocomplete: "email", class: "w-full py-2 px-3 border rounded-md focus:ring focus:ring-green-300" %>
      </div>

      <div class="mt-2 sm:w-full sm:max-w-sm">
        <%= f.label :surname, class: "block text-sm font-medium leading-6 text-gray-900" %>
        <%= f.text_field :surname, autofocus: true, autocomplete: "email", class: "w-full py-2 px-3 border rounded-md focus:ring focus:ring-green-300" %>
      </div>

      <div class="mt-2 sm:w-full sm:max-w-sm">
        <%= f.label :location, class: "block text-sm font-medium leading-6 text-gray-900" %>
        <%= f.text_field :location, autofocus: true, autocomplete: "email", class: "w-full py-2 px-3 border rounded-md focus:ring focus:ring-green-300" %>
      </div>

      <div class="mt-2 sm:w-full sm:max-w-sm">
        <%= f.label :phone_number, class: "block text-sm font-medium leading-6 text-gray-900" %>
        <%= f.text_field :phone_number, autofocus: true, autocomplete: "email", class: "w-full py-2 px-3 border rounded-md focus:ring focus:ring-green-300" %>
      </div>

      <div class="mt-2 sm:w-full sm:max-w-sm">
        <%= f.label :email, class: "block text-sm font-medium leading-6 text-gray-900" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full py-2 px-3 border rounded-md focus:ring focus:ring-green-300" %>
      </div>

      <br>
      <div class="mt-2 sm:w-full sm:max-w-sm">
        <%= f.label :password, class: "block text-sm font-medium leading-6 text-gray-900" %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>

        <%= f.password_field :password, autocomplete: "current-password", class: "w-full py-2 px-3 border rounded-md focus:ring focus:ring-green-300" %>
      </div>

      <div class="mt-5 sm:mx-auto sm:w-full sm:max-w-sm">
        <%= f.label :password_confirmation, class: "block text-sm font-medium leading-6 text-gray-900" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-full py-2 px-3 border rounded-md focus:ring focus:ring-green-300" %>
      </div>

      <div class="mt-6 sm:w-full sm:max-w-sm">
        <%= f.submit "Sign up", class: "flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm leading-6 text-white shadow-sm hover:bg-indigo-500" %>
      </div>
    <% end %>
  </div>
</div>
